@*******************************************************************************************************************************
 * Copyright © 2018-2019 Aashish Koirala <https://www.aashishkoirala.com>
 *
 * This file is part of Aashish Koirala's Personal Website and Blog (AKPWB).
 *
 * AKPWB is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * AKPWB is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with AKPWB.  If not, see <http://www.gnu.org/licenses/>.
 *
 *******************************************************************************************************************************@

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model AK.Homepage.HomeViewModel
@* ReSharper disable Html.PathError *@
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta name="robots" content="index,follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Aashish Koirala: Software Architect and Developer Personal Website and Blog" />
	<meta name="apple-mobile-web-app-title" content="Aashish Koirala">
	<meta name="application-name" content="Aashish Koirala">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#ffffff">
	<link rel="apple-touch-icon" sizes="180x180" href="~/images/favicons/apple-touch-icon.png" asp-append-version="true" />
	<link rel="icon" type="image/png" sizes="32x32" href="~/images/favicons/favicon-32x32.png" asp-append-version="true" />
	<link rel="icon" type="image/png" sizes="16x16" href="~/images/favicons/favicon-16x16.png" asp-append-version="true" />
	<link rel="manifest" href="~/site.webmanifest" asp-append-version="true" />
	<link rel="mask-icon" href="~/images/favicons/safari-pinned-tab.svg" color="#5bbad5" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/css/home.css" asp-append-version="true" />
    @if (TempData["dark"] != null && (bool)TempData["dark"])
	{
	    <link rel="stylesheet" type="text/css" href="~/css/home-dark.css" asp-append-version="true" />
	}
	<title>Aashish Koirala</title>
</head>
<body>
	<partial name="Header" />
	<div class="section section-top">
		<div class="section-title" title="About and Contact">About &amp; Contact</div>
		<div class="section-body">
			<div>
				<ul>
					<li><a title="About Me" href="about">About Me</a></li>
					<li><a title="My Professional Resume" href="resume">My Resume</a></li>
					@foreach (var l in Model.ContactLinks)
					{
						<li class="contact-item"><a title="@l.Title" href="@l.Url">@l.Label</a></li>
					}
				</ul>
			</div>
			<div class="icons">
				@for (var i = 0; i < Model.ContactLinks.Length; i++)
				{
					var l = Model.ContactLinks[i];
					<div class="icon-link">
						<a href="@l.Url">
							<img alt="@l.Label" src="~/images/@l.Icon" class="icon-link" />
						</a>
					</div>
					if ((i + 1) % 2 == 0)
					{
						<br />
					}
				}
			</div>
		</div>
	</div>
	<div class="section section-top">
		<div class="section-title" title="Apps and Projects">Apps &amp; Projects</div>
		<div class="section-body">
			<div>
				<ul>
					@foreach (var l in Model.ProjectLinks.Where(x => x.Url != null))
					{
						<li><a title="@l.Title" href="@l.Url">@l.Label</a></li>
					}
				</ul>
			</div>
			<div class="icons">
				@foreach (var x in Model.ProjectLinks.Where(x => x.Icon != null).Select((l, i) => new { l, i }))
				{
					var l = x.l;
					var i = x.i;
					<div class="icon-link">
						@if (l.Url != null)
						{
							<a href="@l.Url">
								<img alt="@l.Label" src="~/images/@l.Icon" class="icon-link" />
							</a>
						}
						else
						{
							<div></div>
						}
					</div>
					if ((i + 1) % 2 == 0)
					{
						<br />
					}
				}
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-title" title="Blog: Software and Tech">Blog: Software &amp; Tech</div>
		<div class="section-body">
			<b class="blog-subtitle">Recent Entries</b>
			<ul>
				@foreach (var postLink in Model.TechPostLinks)
				{
					if (!postLink.IsFiller)
					{
						<li><a href="~/blog/@postLink.Slug" title="@postLink.Title">@postLink.Title</a></li>
					}
					else
					{
						<li class="no-bullet">&nbsp;</li>
					}
				}
			</ul>
			<br />
			<a href="~/blog?type=tech"><b>More Entries...</b></a>&nbsp;|&nbsp;
			<a href="~/rss/tech"><b>Subscribe</b>&nbsp;<img src="~/images/rss.gif" alt="Subscribe to NonTech Blog RSS Feed" /></a>
		</div>
	</div>
	<div class="section">
		<div class="section-title" title="Blog: Non-Tech">Blog: Non-Tech</div>
		<div class="section-body">
			<b class="blog-subtitle">Recent Entries</b>
			<ul>
				@foreach (var postLink in Model.NonTechPostLinks)
				{
					if (!postLink.IsFiller)
					{
						<li><a href="~/blog/@postLink.Slug" title="@postLink.Title">@postLink.Title</a></li>
					}
					else
					{
						<li class="no-bullet">&nbsp;</li>
					}
				}
			</ul>
			<br />
			<a href="~/blog?type=nontech"><b>More Entries...</b></a>&nbsp;|&nbsp;
			<a href="~/rss/nontech"><b>Subscribe</b>&nbsp;<img src="~/images/rss.gif" alt="Subscribe to Non-Tech Blog RSS Feed" /></a>
		</div>
	</div>
</body>
</html>